.card img {
  display: block;
  width: 30rem;
  height: 30rem;
  object-fit: cover;
}

.card p.description {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
